html {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    /* border:1px solid #FF0000; */
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    /* border:1px solid blue; */
}

/* Styled maps example */
.styledExample {
	margin-bottom:5px;	
}

.styledExample span {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3px;
	color:white;
}
.styledExample span:nth-child(1) {
	background-color:blue;
}
.styledExample span:nth-child(2) {
	background-color:black;
}
.styledExample span:nth-child(3) {
	background-color:red;
}

.test1 {
  border:1px solid #FF0000;
}
.test2 {
  border:1px solid blue;
}
.test3 {
  border:1px solid #00FF00;	
}
.test4 {
  border:1px solid #000000;
}
.test5 {
  border:1px solid grey;
}
.test6 {
  border:1px solid #0000FF;
}
.test7 {
  border:1px solid #EFEFEF;
}
.test8 {
  border:1px solid #FFFF00;
}
